.wrapper {
  display: flex;
  position: unset;
}
.zinner-logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/zinner.png) repeat center;
  background-size: 400px;
  filter: grayscale(1);
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  z-index: -1;
}
.content {
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 36px;
  font-weight: 700;
  min-height: 72px;
  min-width: 500px;
}
.user-code {
  height: 72px;
  font-weight: 700;
}
.user-info {
  font-size: 20px;
  align-self: flex-start;
  padding: 10px;
  background-color: white;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}
.scanner-container {
  svg {
    border: none !important;
    animation: zoom-in-zoom-out 2s ease infinite;
  }
  svg path {
    stroke: #82ff82;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    max-width: 80vw;
    gap: 20px;
  }
  .content {
    min-width: unset;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

.have-checked {
  color: red;
}

.ok {
  color: green;
}
.checked-tag {
  margin-top: 10px;
  text-align: right;
}
